<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Toogl free users reports</title>
    <%= js :application %>
    <%= css :application %>
</head>
<body class="report" >
  Explain how to use free Toggl to the best from this services.
</body>
</html>
