<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Bootstrap Admin Template</title>
  
</head>

<body class="loginform">
  <div class="row">
    
    <div class="small-6 large-centered columns">
      <form action="/loginvalidate" method="post">
        <label>EasyRedmine Login form</label>
        <div class="form-group">
        <input type="text" name="name" placeholder="Name" class="form-control"></div>
        <div class="form-group">
        <input type="password" name="password" placeholder="Password" class="form-control"></div>
        
        <button type="submit" class="btn btn-default">login</button>
      </form>
    </div>
  
  </div>


    <!-- /#wrapper -->
</body>
</html>
