<nav>
  <div class="nav-wrappe">
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/login">Login</a></li>
      <li><a href="/why">Why</a></li>
      <li><a href="/what">What is this</a></li>
      <li><a href="/who">who</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </div>
</nav>
