<div class="large-4 columns">
<ul class="side-nav side-nav-column">
  <li><a href="/login">Login</a></li>
  <li><a href="/why">Why</a></li>
  <li><a href="/what">What is this</a></li>
  <li><a href="/who">who</a></li>
  <li><a href="/logout">Logout</a></li>
</ul>
</div>
