<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Toogl free users reports</title>
    <%= js :application %>
    <%= css :application %>
</head>
<body class="/report" method="post">
  <form action="/report">  
    <input type="text" class="datepicker1" name="start_date" value="2015-10-12" >
    <input type="text" class="datepicker2" name="end_date" value="2015-10-19">
    <input type="submit">
  </form>

<script>
  $('.datepicker1').pickadate({
  formatSubmit: 'yyyy-mm-dd',
  });
$('.datepicker2').pickadate({
  formatSubmit: 'yyyy-mm-dd',
});
</script>
</body>
</html>
